# Keyboard scan configuration options

# Copyright (c) 2019 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# menuconfig KSCAN
# 	bool "Keyboard scan drivers"
# 	help
# 	  Include Keyboard scan drivers in system config.

if KSCAN

rsource "Kconfig.sx1508"

endif # KSCAN


