/*
 * Copyright (c) 2019 Henrik Brix Andersen <henrik@brixandersen.dk>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 &i2c0 {
    status = "okay";
	sx1508: sx1508@20 {
		compatible = "semtech,sx1508";
		reg = <0x20>;
                /* Uncomment to use IRQ instead of polling: */
		/* irq-gpios = <&gpio1 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; */

	};
};
