/*
 * Copyright (c) 2019 Henrik Brix Andersen <henrik@brixandersen.dk>
 *
 * SPDX-License-Identifier: Apache-2.0
 */


 &i2c0 {
    status = "okay";
	sx1508:sx1508@20 {
		compatible = "semtech,sx1508-keyscan";
		reg = <0x20>;
                /* Uncomment to use IRQ instead of polling: */
		 nint-gpios = <&gpio1 8 (GPIO_ACTIVE_HIGH)>;


	};
};

&i2c0_default {
    group1 {
        psels = <NRF_PSEL(TWIM_SDA, 0, 7)>, <NRF_PSEL(TWIM_SCL, 0, 8)>;
    };
};
